fastapi
uvicorn
python-multipart
google-cloud-speech
httpx
sqlalchemy 
databases
pymysql 
boto3
PyJWT
python-decouple
python-dotenv
requests
django
pymysql
django-allauth
pandas
cryptography
torch
finance-datareader
torchinfo
beautifulsoup4
plotly
scikit-learn
matplotlib
gunicorn
node
ragas
sentence-transformers
pydantic
